<button id="btn-create" class="btn btn-success btn-sm" ng-click="createInstance()">Create</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Node</th>
      <th>Status</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="instance in instances">
      <td>{{instance.name}}</td>
      <td>{{instance.description}}</td>
      <td>{{instance.node}}</td>
      <td>
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="{{instance.progress}}">
          {{instance.progressText}}
        </div>
      </td>
      <td>
        <span class="glyphicon glyphicon-play-circle instance-operation-btn instance-operation-cls" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-trash instance-operation-btn instance-operation-cls" aria-hidden="true"></span>
        
      </td>
    </tr>
  </tbody>
</table>