<link href="/css/instance.css" rel="stylesheet">

<div id="user" class="container">
    <div class="row">
        <div class="left-tab">
            <div id="tab-menu">
                <ul class="nav">
                    <li class="nav-item tab-li-cls">
                        <a class="nav-link" ui-sref=".instance" ui-sref-opts="{reload: true}">Instance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref=".data-graph">Data Graph</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>