/*----tab start----*/
div.left-tab {
    width: 15%;
    color: cornflowerblue;
    float: left;
    font-weight: bold;
}
.left-tab .tab-li-cls{
    font-size: large;
}
#tab-menu{
    padding-top: 150%;
    height:-webkit-fill-available;
    background-color: black;
}
.right-tab-cls{
    padding: 60px 60px 60px 60px;
    width: 85%;
    float: right;
}
.right-tab-title-cls{
    padding-bottom: 50px;
}
/*----tab end----*/


/*----instance start----*/

/*----instance end----*/