/*----tab start----*/
div.left-tab {
    width: 15%;
    color: cornflowerblue;
    float: left;
    font-weight: bold;
}
.left-tab .tab-li-cls{
    font-size: large;
}
#tab-menu{
    padding-top: 150%;
    height:-webkit-fill-available;
    background-color: black;
}
.right-tab-cls{
    padding: 60px 60px 60px 60px;
    width: 85%;
    float: right;
}
.right-tab-title-cls{
    padding-bottom: 25px;
}
/*----tab end----*/


/*----instance start----*/
.instance-operation-btn{
    cursor: pointer;
}
.instance-operation-cls{
    padding-left: 10px;
}
.instance-table-cls{
    margin-top: 20px;
}
.create-instance-input-cls{
    width:200px;
}
#instance-create-btn{
    margin-top: 20px;
}
/*----instance end----*/